.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}


.Blog ul {
    list-style: none;
    margin:0;
    padding:0;
    width: 100%;
    text-align: center;


}

.Blog li {
    text-decoration: brown;
    display: inline-block;

}

.Blog a:hover,
.Blog a:active
{
    color: orangered;
}